<!DOCTYPE html>
<html>
  <head>
    <title>ChemId</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'frontend/application', media: 'all' %>
    <%= javascript_include_tag 'frontend/application' %>

    <%= yield :head %>
  </head>

  <body>
    <nav class="uk-navbar-container cid-top-nav uk-box-shadow-small" uk-sticky>
      <div class="uk-container uk-container-expand">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">Chem ID</a>
          </div>
          <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                <li>
                  <%= link_to "Test Results", test_results_path %>
                </li>
                <li>
                  <a href="javascript: void(0);"><span uk-icon="icon: user"></span></a>

                  <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left">
                     <ul class="uk-nav uk-navbar-dropdown-nav">
                       <li>
                         <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
                       </li>
                     </ul>
                   </div>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="cid-sidebar-left uk-hidden">
      <ul class="uk-nav uk-nav-default">
        <li><%= link_to "Test Results", test_results_path %></li>
      </ul>
    </div>

    <div class="uk-background-muted" style="min-height: 100%;">
      <div class="uk-container" style="padding-top: 60px;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
