<!DOCTYPE html>
<html>
  <head>
    <title>ChemId</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'frontend/application', media: 'all' %>
    <%= javascript_include_tag 'frontend/application' %>
  </head>

  <body>
    <nav class="uk-navbar-container" uk-sticky>
      <div class="uk-container uk-container-expand">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">ChemID</a>
          </div>
          <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                  <li>
                    <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="cid-sidebar-left">
      <ul class="uk-nav uk-nav-default">
        <li><a href="/samples">Samples</a></li>
      </ul>
    </div>

    <div class="cid-main">
      <div class="uk-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
