<h1><%= @sample.name ? @sample.name : "Sample \##{@sample.id}" %></h1>

<h3>Overview</h3>

<table style="width: 400px;">
  <tr>
    <td class="uk-text-bold">Sample ID</td>
    <td><%= @sample.id %></td>
  </tr>
  <tr>
    <td class="uk-text-bold">Ran At</td>
    <td><%= @sample.test_ran_at.strftime("%-m/%-d/%y %-I:%-M %p") %></td>  
  </tr>
  <tr>
    <td class="uk-text-bold">Sample Type</td>
    <td class="uk-text-uppercase"><%= @sample.sample_type %></td>
  </tr>
  <tr>
    <td class="uk-text-bold">Test Type</td>
    <td class="uk-text-uppercase"><%= @sample.test_type %></td>
  </tr>
</table>

<h3>Notes</h3>

<div class="uk-margin-large-bottom">
  <div id="notes-view">
    <div id="notes-view-text" style="white-space: pre-line;">
      <% if @sample.notes %>
        <%= @sample.notes %>  
      <% else %>
        No notes.
      <% end %>
    </div>

    <button id="notes-edit-action" class="uk-button uk-margin-top"><%= @sample.notes ? 'edit' : 'create' %></button>
  </div>

  <script>
    $("#notes-edit-action").on('click', function () {      
      UIkit.modal.prompt('Notes').then(function(text) {
        $.ajax({
          type: 'PUT',
          url: '/api/samples/' + <%= @sample.id %>,
          data: {
            sample: {
              notes: text
            }
          }
        }).done(function () {
          window.location.reload();
        })
      });
    });
  </script>
</div>

<h3>Data</h3>

<div class="uk-margin-large-bottom">
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>

<table class="uk-table uk-table-divider uk-table-small">
  <thead>
    <tr>
      <th>Time (minutes)</th>
      <th>Intensity (millivolts)</th>
    </tr>
  </thead>
  <tbody>
    <% @sample.hplc_data.each do |datum| %>
      <tr>
        <td><%= datum.minute %></td>
        <td><%= datum.millivolts %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['scatter']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
            
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Minutes');
    data.addColumn('number', 'Millivolts');

    data.addRows(<%== @sample.hplc_data.map { |data| [data.minute, data.millivolts] } %>);

    var options = {
      title: 'Time vs. Intensity',
      hAxis: {title: 'Minutes'},
      vAxis: {title: 'Millivolts'},
      legend: 'none',
      pointSize: 1
    };

    var chart = new google.charts.Scatter(document.getElementById('chart_div'));

    chart.draw(data, google.charts.Scatter.convertOptions(options));
  }
</script>